#resultPage {
    background: #f7f4ef;
}

#resultCard {
    background: #f6f2ec;
    border-radius: 24px;
    border: 1px solid #eee7dd;
    padding: 12px;
}

#resultCardTitle {
    font-size: 32px;
    font-weight: 600;
    color: #555555;
}

#resultCardValue {
    font-size: 40px;
    font-weight: 700;
    color: #444444;
}

#resultMessageCard {
    background: #f6f2ec;
    border-radius: 24px;
    border: 1px solid #eee7dd;
}

#resultMessageLabel {
    font-size: 32px;
    font-weight: 600;
    color: #2eaf5d; /* yeşil */
}

#resultLogo {
    background: transparent;
}
